<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.avengers.member.model.dao.MemberMapper">

    <select id="getMemberByMemberId"  parameterType="String"  resultType="long">
      select 
             COUNT(*)
        FROM
             TB_MEMBER
       WHERE
             MEMBER_ID = #{memberId}
    </select>

    <select id="getMemberByEmail" parameterType="String" resultType="MemberDTO">
      SELECT
              MEMBER_NO memberNo
            , MEMBER_ID memberId        
            , MEMBER_PW memberPw
            , MEMBER_NAME memberName
            , MEMBER_ROLE memberRole  
            , EMAIL email 
            , IS_ACTIVE isActive           
        FROM
             TB_MEMBER
       WHERE
             EMAIL = #{email}
    
    </select>

    <!-- 회원 가입 -->
    <insert id="signUp" parameterType="com.kh.avengers.member.model.vo.Member">
      INSERT
        INTO
             TB_MEMBER
           (
             MEMBER_ID 
           , MEMBER_PW 
           , MEMBER_NAME 
           , EMAIL 
           , MEMBER_ROLE 
           )
      VALUES
           (
             #{memberId}
           , #{memberPw} 
           , #{memberName}         
           , #{email}
           , #{memberRole}
           )
    </insert>

  </mapper>
    