<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.avengers.report.model.dao.ReportMapper">

   <!-- 리뷰 신고 -->
   <insert id="insertReviewReport" parameterType="ReviewReportDTO">
    INSERT 
      INTO 
           TB_REVIEW_REPORT 
         (
           REVIEW_NO
         , MEMBER_NO
         , REPORT_CONTENT
         )
    VALUES 
         (
           #{reviewNo}
         , #{memberNo}
         , #{reportContent}
    )
  </insert>

  <!-- 리뷰 존재 확인 -->
  <select id="findReview" resultType="int">
    SELECT 
           COUNT(*)
      FROM 
           TB_TRAVEL_REVIEW 
     WHERE 
           REVIEW_NO = #{reviewNo}
  </select>

  <!-- 회원 존재 확인 -->
  <select id="findMember" resultType="int">
    SELECT 
           COUNT(*) 
      FROM 
           TB_MEMBER 
     WHERE 
           MEMBER_NO = #{memberNo}
  </select>

  <!-- 중복 신고 확인 -->
  <select id="checkedReport" resultType="int">
    SELECT 
           COUNT(*) 
      FROM 
           TB_REVIEW_REPORT
     WHERE 
           REVIEW_NO = #{reviewNo} 
       AND 
           MEMBER_NO = #{memberNo}
  </select>

</mapper>