<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.avengers.travles.model.dao.TravelGuMapper">

    <!-- 구 목록 조회 -->
    <select id="selectTravelGuList" parameterType="TravelGuDTO" resultType="TravelGuDTO">
        SELECT
            GU_NO AS guNo,
            GU_NAME AS guName
        FROM TB_GU
        <where>
            GU_STATUS = 'Y'
            <if test="guName != null and guName != ''">
                AND GU_NAME LIKE '%' || #{guName} || '%'
            </if>
        </where>
    </select>

    <!-- 구 번호로 존재 여부 검색 -->
    <select id="searchGuNo" parameterType="long" resultType="int">
        SELECT 
            COUNT(*) 
        FROM 
            TB_GU 
        WHERE 
            GU_NO = #{guNo}
            AND GU_STATUS = 'Y'
    </select>

    <!-- 구 등록 -->
    <insert id="insertTravelGus" parameterType="TravelGuDTO">
        INSERT INTO 
            TB_GU (CITY_NO, GU_NAME)
        VALUES 
            (#{cityNo}, #{guName})
    </insert>

    <!-- 구 수정 -->
    <update id="updateTravelGus" parameterType="TravelGuDTO">
        UPDATE 
            TB_GU 
        SET 
            GU_NAME = #{guName},
            GU_MODIFIED_DATE = SYSDATE
        WHERE 
            GU_NO = #{guNo}
            AND GU_STATUS = 'Y'
    </update>

    <!-- 구 삭제 -->
    <delete id="deleteTravelGus" parameterType="long">
        UPDATE 
            TB_GU 
        SET 
            GU_STATUS = 'N',
            GU_MODIFIED_DATE = SYSDATE
        WHERE 
            GU_NO = #{guNo}
    </delete>

</mapper>
