<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace = "com.kh.avengers.plan.model.dao.TravelPlannerMapper">



    <!-- 여행 플랜 DB에 삽입-->
    <insert id="insertTravelPlan"
            parameterType="com.kh.avengers.plan.model.dto.TravelPlannerDto">
        
        <selectKey keyProperty="planNo" resultType="long" order="BEFORE">
            SELECT TB_TRAVEL_PLANNER_SEQ.NEXTVAL FROM DUAL
        </selectKey>

        INSERT INTO TB_TRAVEL_PLANNER
            (
                PLAN_NO,
                MEMBER_NO,
                TRAVEL_START_DATE,
                TRAVEL_END_DATE,
                GROUP_SIZE
            )
        VALUES
            (
                #{planNo},
                #{memberNo},
                #{travelStartDate},
                #{travelEndDate},
                #{groupSize}
            )
    </insert>


    <!-- 플랜 번호로 여행 플랜 조회 -->
    <select id="selectTravelPlanByPlanNo"
            parameterType="long"
            resultType="com.kh.avengers.plan.model.dto.TravelPlannerDto">
        SELECT
            PLAN_NO as planNo,
            MEMBER_NO as memberNo,
            TRAVEL_START_DATE as travelStartDate,
            TRAVEL_END_DATE as travelEndDate,
            GROUP_SIZE as groupSize,
            SELECT_REGION as selectRegion,
            SELECT_PLACES as selectPlaces,
            PLAN_TITLE as planTitle,
            PLAN_DESCRIPTION as planDescription,
            MIN_BUDGET as minBudget,
            MAX_BUDGET as maxBudget,
            TRANSPORT_RESERVATION_LINK as transportReservationLink,
            ACCOMODATION_LINK as accomodationLink
        FROM
            TB_TRAVEL_PLANNER
        WHERE
            PLAN_NO = #{planNo}
    </select>

    <!-- step2 정보로 여행 플랜을 업데이트 -->
    <update id="updateTravelPlanStep2"
            parameterType="com.kh.avengers.plan.model.dto.TravelPlannerDto">
        UPDATE
            TB_TRAVEL_PLANNER
        SET
            SELECT_REGION = #{selectRegion}
        WHERE
            PLAN_NO = #{planNo}
    </update>



</mapper>