<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.avengers.travles.model.dao.TravelCityMapper">

    <!-- 시 목록 조회 -->
    <select id="selectTravelCityList" parameterType="TravelCityDTO" resultType="TravelCityDTO">
        SELECT
            CITY_NO AS cityNo,
            CITY_NAME AS cityName
        FROM TB_CITY
        <where>
            CITY_STATUS = 'Y'
            <if test="cityName != null and cityName != ''">
                AND CITY_NAME LIKE '%' || #{cityName} || '%'
            </if>
        </where>
    </select>

    <!-- 시 번호로 존재 여부 검색 -->
    <select id="searchGuCity" parameterType="long" resultType="int">
        SELECT 
            COUNT(*) 
        FROM 
            TB_CITY 
        WHERE 
            CITY_NO = #{cityNo}
            AND CITY_STATUS = 'Y'
    </select>

    <!-- 시 등록 -->
    <insert id="insertTravelCity" parameterType="TravelCityDTO">
        INSERT INTO 
            TB_CITY (CITY_NAME)
        VALUES 
            (#{cityName})
    </insert>

    <!-- 시 수정 -->
    <update id="updateTravelCity" parameterType="TravelCityDTO">
        UPDATE 
            TB_CITY 
        SET 
            CITY_NAME = #{cityName},
            CITY_MODIFIED_DATE = SYSDATE
        WHERE 
            CITY_NO = #{cityNo}
            AND CITY_STATUS = 'Y'
    </update>

    <!-- 시 삭제 -->
    <delete id="deleteTravelCity" parameterType="long">
        UPDATE 
            TB_CITY 
        SET 
            CITY_MODIFIED_DATE = SYSDATE,
            CITY_STATUS = 'N'
        WHERE 
            CITY_NO = #{cityNo}
    </delete>

</mapper>
